body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #473131;
    border-radius: 5px;
    flex-grow: 1;
  }
  
  select {
    padding: 10px;
    border: 1px solid #d69595;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgb(14, 233, 14);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid blue;
  }
  
  th {
    background-color: purple;
  }
  tbody,tr {
    background-color: rgb(122, 112, 216);
  }
  
  .success-message {
    color: green;
    text-align: center;
    margin-bottom: 20px;
  }
  